# Database (Supabase PostgreSQL)
# Ganti [YOUR-PASSWORD] dengan password dari password.txt atau Dashboard
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.eboplbemgtvmviwhdlfa.supabase.co:5432/postgres
